<% /* Content for the `body` section should either be the first thing defined in the view, or it has to be declared just
    like any other section. */ %>
    <%- contentFor('body') %>

        <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
        <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
        <link rel="stylesheet" type="text/css"
            href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
        <link href="../../plugins/sweetalert/sweetalert.css" rel="stylesheet" />

        <style>
            .error-border {
                border: 1px solid red !important;
            }
            .go-btn {
                width: 80px;
            }

            .row1.clearfix1 {
                display: flex !important;
                flex-direction: column !important;
                align-items: center !important;
            }

            .col-style1,
            .col-style2 {
                width: 20% !important;
                text-align: center !important;
            }
        </style>

        <div class="container-fluid">

            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>Leave Approval</h2>
                        </div>
                        <div class="body">
                            <div class="row clearfix">
                                <table
                                    class="table table-bordered table-striped table-hover leave_approval_list_grid dataTable table-responsive"
                                    style="font-size: smaller">
                                    <thead>
                                        <tr id="leave_approval_row_key_head"></tr>
                                    </thead>
                                    <tfoot>
                                        <tr id="leave_approval_row_key_foot"></tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- popup  -->
        <div class="modal fade" id="leave_req" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
              
                <div class="modal-header">
                  <h4 class="modal-title">Leave Approve/Reject</h4>
                </div>
          
                <div class="modal-body">
                  <table class="table table-bordered">
                    <tr>
                      <th>Employee Name</th>
                      <td id="modal_emp_name"></td>
                    </tr>
                    <tr>
                      <th>Leave ID</th>
                      <td id="modal_leave_id"></td>
                    </tr>
                    <tr>
                      <th>Leave Type</th>
                      <td id="modal_leave_type"></td>
                    </tr>
                    <tr>
                      <th>From Date</th>
                      <td id="modal_from_date"></td>
                    </tr>
                    <tr>
                      <th>To Date</th>
                      <td id="modal_to_date"></td>
                    </tr>
                    <tr>
                      <th>Total Days</th>
                      <td id="modal_leave_count"></td>
                    </tr>
                    <tr>
                      <th>Reason</th>
                      <td id="modal_reason"></td>
                    </tr>
                  </table>
          
                  <div class="form-group">
                    <label for="approve_status">Authorized Status</label>
                    <select class="form-control" id="approve_status">
                      <option value="">-- Select Status --</option>
                      <option value="Approved">Approved</option>
                      <option value="Reject">Rejected</option>
                    </select>
                    <span class="error-message" id="approve-status-error" style="color: red;font-size: 15px;"></span>
                  </div>
          
                  <div class="form-group">
                    <label for="remarks">Remarks</label>
                    <input type="text" class="form-control" id="remarks" placeholder="Enter remarks here">
                    <span class="error-message" id="remarks-error" style="color: red;font-size: 15px;"></span>

                </div>
          
                </div>
          
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary" onclick="submitLeaveDecision()">Submit</button>
                  <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
          
              </div>
            </div>
        </div>
 


        <!-- Custom Js -->
        <script src="http://localhost:8000/js/pages/master/leave_request.js"></script>
        <script src="../../plugins/sweetalert/sweetalert.min.js"></script>


