<!DOCTYPE html>
<html class="no-js" lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta itemprop="title" content="Policy Boss">
        <meta name="keywords" content="Policy Boss">
		<meta name="robots" content="noindex, nofollow" />
        <meta itemprop="description" content="Policy Boss">
        <!-- Required meta tags End -->
        <title>Policy Boss | POSP Log In</title>

        <!-- FAVICON -->
        <link rel="icon" href="https://www.policyboss.com/EduApp/images/favicon/favicon.ico">
        <link rel="icon" sizes="16x16" href="https://www.policyboss.com/EduApp/https://www.policyboss.com/EduApp/images/favicon/favicon-16x16.png">
        <link rel="icon" sizes="32x32" href="https://www.policyboss.com/EduApp/images/favicon/favicon-32x32.png">
        <link rel="icon" sizes="96x96" href="https://www.policyboss.com/EduApp/images/favicon/favicon-96x96.png">
        <link rel="icon" sizes="150x150" href="https://www.policyboss.com/EduApp/images/favicon/ms-icon-150x150.png">
        <link rel="icon" sizes="36x36" href="https://www.policyboss.com/EduApp/images/favicon/android-icon-36x36.png">
        <link rel="icon" sizes="48x48" href="https://www.policyboss.com/EduApp/images/favicon/android-icon-48x48.png">
        <link rel="icon" sizes="72x72" href="https://www.policyboss.com/EduApp/images/favicon/android-icon-72x72.png">
        <link rel="icon" sizes="96x96" href="https://www.policyboss.com/EduApp/images/favicon/android-icon-96x96.png">
        <link rel="icon" sizes="144x144" href="https://www.policyboss.com/EduApp/images/favicon/android-icon-144x144.png">
        <link rel="icon" sizes="192x192" href="https://www.policyboss.com/EduApp/images/favicon/android-icon-192x192.png">
        <link rel="apple-touch-icon" href="https://www.policyboss.com/EduApp/images/favicon/apple-icon.png">
        <link rel="apple-touch-icon" sizes="57x57" href="https://www.policyboss.com/EduApp/images/favicon/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="https://www.policyboss.com/EduApp/images/favicon/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="https://www.policyboss.com/EduApp/images/favicon/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="114x114" href="https://www.policyboss.com/EduApp/images/favicon/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="https://www.policyboss.com/EduApp/images/favicon/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="https://www.policyboss.com/EduApp/images/favicon/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="180x180" href="https://www.policyboss.com/EduApp/images/favicon/apple-icon-180x180.png">
        <link rel="apple-touch-icon" href="https://www.policyboss.com/EduApp/images/favicon/apple-icon-precomposed.png">
        <link rel="ms-icon" sizes="70x70" href="https://www.policyboss.com/EduApp/images/favicon/ms-icon-70x70.png">
        <link rel="ms-icon" sizes="144x144" href="https://www.policyboss.com/EduApp/images/favicon/ms-icon-144x144.png">
        <link rel="ms-icon" sizes="150x150" href="https://www.policyboss.com/EduApp/images/favicon/ms-icon-150x150.png">
        <link rel="ms-icon" sizes="310x310" href="https://www.policyboss.com/EduApp/images/favicon/ms-icon-310x310.png">
        <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
        <link href="https://cdn.jsdelivr.net/npm/smartwizard@5/dist/css/smart_wizard_all.min.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" integrity="sha512-mSYUmp1HYZDFaVKK//63EcZq4iFWFjxSL+Z3T/aCt4IO9Cejm03q3NKKYN6pFQzY0SBOr8h+eCIAZHPXcpZaNw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-timepicker/0.5.2/css/bootstrap-timepicker.min.css" integrity="sha512-/Ae8qSd9X8ajHk6Zty0m8yfnKJPlelk42HTJjOHDWs1Tjr41RfsSkceZ/8yyJGLkxALGMIYd5L2oGemy/x1PLg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.14.0-beta3/css/bootstrap-select.min.css" integrity="sha512-g2SduJKxa4Lbn3GW+Q7rNz+pKP9AWMR++Ta8fgwsZRCUsawjPvF/BxSMkGS61VsR9yinGoEgrHPGPn2mrj8+4w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css" integrity="sha512-wR4oNhLBHf7smjy0K4oqzdWumd+r5/+6QO/vDda76MW5iug4PT7v86FoEkySIJft3XA0Ae6axhIvHrqwm793Nw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.css" rel="stylesheet">
        <link href="https://www.policyboss.com/EduApp/css/style.css?ver=2.6" rel="stylesheet" />
<script id="_webengage_script_tag" type="text/javascript">
  var webengage;
  ! function(w, e, b, n, g) {
    function o(e, t) {
      e[t[t.length - 1]] = function() {
        r.__queue.push([t.join("."), arguments])
      }
    }
    var i, s, r = w[b],
      z = " ",
      l = "init options track screen onReady".split(z),
      a = "feedback survey notification".split(z),
      c = "options render clear abort".split(z),
      p = "Open Close Submit Complete View Click".split(z),
      u = "identify login logout setAttribute".split(z);
    if (!r || !r.__v) {
      for (w[b] = r = {
          __queue: [],
          __v: "6.0",
          user: {}
        }, i = 0; i < l.length; i++) o(r, [l[i]]);
      for (i = 0; i < a.length; i++) {
        for (r[a[i]] = {}, s = 0; s < c.length; s++) o(r[a[i]], [a[i], c[s]]);
        for (s = 0; s < p.length; s++) o(r[a[i]], [a[i], "on" + p[s]])
      }
      for (i = 0; i < u.length; i++) o(r.user, ["user", u[i]])
    }
  }(window, document, "webengage");


  if (window.__WEBENGAGE_MOBILE_BRIDGE__) {

    (function(bridge) {

      var type = Object.prototype.toString;

      webengage.user.login = webengage.user.identify = function(id) {
        bridge.login(id)
      };
      webengage.user.logout = function() {
        bridge.logout()
      };

      webengage.user.setAttribute = function(name, value) {
        var attr = null;

        if (type.call(name) === '[object Object]') {
          attr = name;
        } else {
          attr = {};
          attr[name] = value;
        }

        if (type.call(attr) === '[object Object]') {
          bridge.setAttribute(JSON.stringify(attr));
        }
      };

      webengage.screen = function(name, data) {
        if (arguments.length === 1 && type.call(name) === '[object Object]') {
          data = name;
          name = null;
        }

        bridge.screen(name || null, type.call(data) === '[object Object]' ? JSON.stringify(data) : null);
      };

      webengage.track = function(name, data) {
        bridge.track(name, type.call(data) === '[object Object]' ? JSON.stringify(data) : null);
      };

    })(window.__WEBENGAGE_MOBILE_BRIDGE__);

  } else {

    setTimeout(function() {
      var f = document.createElement("script"),
        d = document.getElementById("_webengage_script_tag");
      f.type = "text/javascript",
        f.async = !0,
        f.src = ("https:" == window.location.protocol ? "https://widgets.in.webengage.com" : "http://widgets.in.webengage.com") + "/js/webengage-min-v-6.0.js",
        d.parentNode.insertBefore(f, d)
    });

  }

  webengage.init("in~aa13173a"); 
  try{
	webengage.track("Page Viewed", {
"Page Name": "/car-insurance"
});}catch(e){console.log("webengage.track from Headre",e.stack);}
	</script>
    <style>
        .continue_btn{
            min-width: 20vw;
            padding: 12px 20px !important;
            width: 100%;
            margin-bottom: 5px;
        }
    </style>
    </head>

    <body>
        <!-- <div class="loader"></div> -->
		<div class="loading" style="position: fixed; left: 0px; top: 0px; width: 100%; height: 100%; z-index: 9999; background-color: rgba(0, 0, 0, 0.48); display: none;">
            <img src="https://www.policyboss.com/images/icons/loading.gif"
                 style="-webkit-user-select: none;height: 120px; position: absolute;left: 50%;top: 50%;transform: translate(-50%,-50%);">
        </div>
        <div class="overlay-appear"></div>

        <!----------------------------------------- Start Header Section ------------------------------------------>
		 <div class="mainHeader header-shadow" id="home">
            <div class="container">
                <header>
                    <div class="logo">
                        <a href="/" title="Policy Boss"> <img src="https://origin-cdnh.policyboss.com/website/UI22/images/logo.png" alt="Policy Boss" class="img-fluid"> </a>
                    </div>
                    <div class="navBlock">
                        <div class="navbarBtn d-lg-none">
                           
                        </div>
                        <nav class="navbarLink navbar-expand-md" id="sidebar">
                            <div class="navi_mobile">
                                <a href="#home" id="dismiss" class="hideclose d-lg-none d-md-none"><i class="fa fa-times"></i></a>
                                <div class="logo mobile-logo">
                                    <a href="index2.html" title="Policy Boss"> <img src="images/logo.png" alt="Policy Boss" class="img-fluid"> </a>
                                </div>
                                <!--                         <button class="hamburger active" id="sidebarCollapse">
                                                            <div class="bar">
                                                            </div>
                                                        </button> -->
                             
                            </div>
                        </nav>
                    </div>
                   
                </header>
            </div>
        </div>
		<!----------------------------------------- End Header Section ------------------------------------------>
		
        <!----------------------------------- Login Section --------------------------------------->
        <div class="bg-right-light-gradient home-bg">
            <div class="home-banner-section posp-banner-section section-padding-50">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-md-6 mob-order-1">
                            <div class="home-banner-image-box">
                                <img src="https://www.policyboss.com/EduApp/images/posp-page/posp-login-banner-img.svg" alt="PolicyBoss">
                            </div>
                        </div>
                        <div class="col-md-6 mob-order-2 ">
                            <div class="banner-detail-area login-area" style="display: none;">    
                                <h1 class="banner-title posp-banner-title font-24">Login</h1>
                                <div class="get-buddy-box login-form" style="display: none;" >
                                    <form class="validate-form" id="landing-banner-form" novalidate="novalidate">
                                        <div class="input-area">
                                            <div class="input-inner-box">
                                                <input type="text"  id="otpParameter" maxlength="50"  class="input-border border-thick input-field js-input-group"  autocomplete="off" autofocus placeholder="Enter Mobile / Email / UID" style="text-align: center" />
                                                <span style="color: red;" id="username-error" class="otpParameterErr"></span>
												<span style="color: red;" class="user-login-error" ></span>
                                            </div>
                                        </div>
										<div class="input-area" id="pass_box">
                                            <div class="input-inner-box">
                                                <input type="password"  id="password"  class="input-border border-thick input-field js-input-group" autocomplete="off" placeholder="Enter Password" style="text-align: center;display:none">
                                                <span style="color: red;" id="password-error"></span>
                                            </div>
                                        </div>
										<div class="field-box" id="opt-password-login" style="display: flex;justify-content: space-around;margin-bottom: 10px;">
											<input type="radio" class="radio-custom upload-live" id="otp_login"  checked="" name="login" value="otp_login">
											<label class="radio-custom-label font-18 text-extralight" for="otp_login" >Login Via OTP</label>
												
											<input type="radio" class="radio-custom upload-browse" id="password_login"  name="login" value="password_login">
											<label class="radio-custom-label font-18 text-extralight" for="password_login">Login Via Password</label>
                                        </div>
                                        
                                        <button type="button" class="main-btn send-otp-button find-btn" id="login_btn" data-bs-toggle="modal" onclick="submitOtpParameter()" >Send OTP</button>
										<span id="">Note : Employee needs to login via UID</span>
                                        <div class="text-center mt-3">
                                            <a href="#" data-bs-toggle="modal" id="forgot_btn" onclick="openSearchModalForForgotPass()"
                                                class="font-16 text-primary">Forgot Password?</a>
                                        </div>
                                   
                                      
                                        <!------------------VERIFY YOUR ACCOUNT ID--------------------------->
                                        <div class="modal menu-popup fade verify-your-account" id="verifyAccountModal" data-bs-keyboard="false"  data-bs-backdrop="static" tabindex="-1" aria-labelledby="verifyAccountModal" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered">
                                                <div class="modal-content">
                                                    <div class="modal-body">
                                                        <div class="modal-heading">
                                                            <div class="modal-title">
                                                                <h3 class="font-24 title-text">Verify Your Account</h3>
                                                                <p class="font-16 otpMobileNumber">We have sent you One-Time Password on</p>
                                                                <div class="phone-number-box">
                                                                    <p><span id="mob"></span></p>
                                                                   <!-- <div class="edit-icon">
                                                                        <a class="edit-num-btn" title="Edit Number" data-bs-dismiss="modal" aria-label="Close" id="editMobile">
                                                                            <img src="https://www.policyboss.com/EduApp/images/icons/edit-icon.svg" alt="Edit">
                                                                        </a>
                                                                    </div>-->
                                                                </div>
                                                            </div>

                                                            <div class="modal-button-area">
                                                                <button type="button" class="btn-close js_modal_close align-self-start mt-0" onclick="dismissModal()" data-bs-dismiss="modal" aria-label="Close"></button>
                                                            </div>
                                                        </div>
                                                        <div class="modal-bottom-section">
                                                            <div class="input-field-block-box">
                                                                <div class="input-field-blocks-row">
                                                                    <div class="input-field-blocks-col">
                                                                        <div class="input-field-box">
                                                                            <input type="text"  id="input_otp_d1"  inputmode="numeric" onkeypress ="KeyPressEvent(event)" onkeyup="switchCursor(event, 'input_otp_d1')" class="input-field otp-input-field input-border border-thick input-otp" maxlength="4" name="input_otp_d1" autofocus autocomplete="off" >
                                                                        </div>
                                                                    </div>
                                                                    <div class="input-field-blocks-col">
                                                                        <div class="input-field-box">
                                                                            <input type="text"  id="input_otp_d2" inputmode="numeric" onkeypress ="KeyPressEvent(event)" onkeyup="switchCursor(event, 'input_otp_d2')" class="input-field otp-input-field input-border border-thick input-otp" maxlength="1" autocomplete="off">
                                                                        </div>
                                                                    </div>
                                                                    <div class="input-field-blocks-col">
                                                                        <div class="input-field-box">
                                                                            <input type="text" id="input_otp_d3" inputmode="numeric" onkeypress ="KeyPressEvent(event)" onkeyup="switchCursor(event, 'input_otp_d3')" class="input-field otp-input-field input-border border-thick input-otp" maxlength="1" autocomplete="off">
                                                                        </div>
                                                                    </div>
                                                                    <div class="input-field-blocks-col">
                                                                        <div class="input-field-box">
                                                                            <input type="text" id="input_otp_d4" inputmode="numeric" onkeypress ="KeyPressEvent(event)" onkeyup="switchCursor(event, 'input_otp_d4')" class="input-field otp-input-field input-border border-thick input-otp" maxlength="1" autocomplete="off">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <span style="color: red;" id="otp_err"></span>
                                                            <button type="button" class="main-btn " id="verify_otp_btn" onclick="verifyOtp()" > 
                                                                Verify</button>
                                                            <div id="countdown"></div>
                                                            <a title="Resend OTP" id="resend_otp_link" class="resend-otp-link font-16" onclick="resendLoginOtp()"  style="cursor: pointer;display:none">  Resend OTP </a>
                                                            <span style="color: green;" id="otp_resend_msg"></span>
															<span id="login_error" style="color: red;"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                                <div class="get-buddy-box continue_login" style="display: none;">
                                    <div class="input-area">
                                        <div style="width: -webkit-fill-available;">
                                            <button type="button" class="main-btn continue_btn" id="continue_btn" data-bs-toggle="modal" onclick="continue_user()" ></button>  
                            </div>
                        </div>
                                    <div class="input-area">
                                        <div style="width: -webkit-fill-available;">
                                            <button type="button" class="main-btn continue_btn" id="change_user_btn" data-bs-toggle="modal" onclick="redirect_login()" >Change User</button>  
                                        </div>
                                    </div>
                                    <span id="continue-error" style="color: red;"></span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


            <!-- Message Modal Start-->
            <div class="modal menu-popup fade verify-your-account" id="Message-modal" data-bs-keyboard="false"  data-bs-backdrop="static" tabindex="-1" aria-labelledby="Message-modal" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <div class="title-box" style="text-align:center;width:100%;">
                                <h3 class="font-22 title-text modal-head" style="text-align: center;" id="msg-head"></h3>
                            </div>
                            <!--                        <button type="button" class="btn-close js_modal_close" onclick="dismissModal()" aria-label="Close"></button>-->
                        </div>
                        <div class="modal-body">
                            <div class="common-form-area">
                                <form class="form-field without-car-number-form">
                                    <div class="input-field-box forCV" style="margin:0px">
                                        <h4 class="label font-18 text-extralight" style="text-align: justify" id="msg-content"></h4>                                                  
                                        <br>

                                    </div>

                                    <div class="modal-bottom-section" id="exam-msg-section" style="text-align: center;">                      

                                        <button type="button" class="sec-btn" onclick="dismissModal()"> 
                                            Ok</button>

                                    </div>

                                </form>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!--- Message Modat End -->
             <!-- Change Password Modal -->
             <div class="modal menu-popup fade verify-your-account" id="changePasswordModal" data-bs-keyboard="false" data-bs-backdrop="static" tabindex="-1" aria-labelledby="changePasswordModal">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content" style="text-align: center">
                        <div class="modal-header">
                            <div class="title-box" style="text-align:center;width:100%;">
                                <h3 class="font-22 title-text modal-head" style="text-align: center;">Change Password</h3>
                            </div>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="common-form-area">
                                <form id="changePasswordForm" class="form-field without-car-number-form">
                                    <!-- New Password -->
                                    <div class="input-area">
                                        <div class="input-inner-box input-field-box">
                                            <input type="password" id="newPassword" maxlength="8" class="input-border input-field js-input-group input-change" autocomplete="off" placeholder="Enter New Password" style="text-align: center;">
                                            <span class="error-message" id="new-password-error" style="color: red;font-size: 15px;"></span>
                                        </div>
                                    </div>
                
                                    <!-- Confirm Password -->
                                    <div class="input-area">
                                        <div class="input-inner-box input-field-box">
                                            <input type="password" id="confirmPassword" maxlength="8" class="input-border input-field js-input-group input-change" autocomplete="off" placeholder="Confirm New Password" style="text-align: center;">
                                            <span class="error-message" id="confirm-password-error" style="color: red;font-size: 15px;"></span>
                                        </div>
                                    </div>
                
                                <!-- Submit Button -->
                <div class="modal-bottom-section" style="text-align: center; margin-top: 20px;">
                <button type="button" class="sec-btn main-btn primary-btn" onclick="password_generate_otp()" id="submitChangePassword" style="width: 100%;">Submit</button>
                                    <span>Note : Password must contain 8 characters</span>
                </div>
                                    <!-- Success/Error Message -->
                                    <div id="change-password-msg" class="mt-3 text-center">
                                        <span id="change-password-error" style="color: red; display: none;">Error message here.</span>
                                        <span id="change-password-success" style="color: green; display: none;">Password changed successfully!</span>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>  
                </div>
                </div>
              <!-- find model -->
              <div class="modal menu-popup fade verify-your-account" id="findAccountModal"
              data-bs-keyboard="false" data-bs-backdrop="static" tabindex="-1"
              aria-labelledby="findAccountModal">
              <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content" style="text-align: center">
                      <div class="modal-header">
                          <div class="title-box" style="text-align:center;width:100%;">
                              <h3 class="font-22 title-text modal-head"
                                  style="text-align: center;">Find Your Account</h3>
                          </div>
                          <button type="button" class="btn-close" data-bs-dismiss="modal"
                              aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                          <div class="common-form-area">
                              <form id="findAccountForm"
                                  class="form-field without-car-number-form">
                                  <div class="input-area">
                                      <div class="input-inner-box">
                                          <input type="text" id="find_username"
                                              class="input-border border-thick input-field js-input-group input-change"
                                              maxlength="26" autocomplete="off"
                                              placeholder="Enter your username"
                                              style="text-align: center;">
                                          <span class="error-message" id="find-username-error"
                                              style="color: red; display: none;"></span>
                                      </div>
                                  </div>

                                  <div class="modal-bottom-section"
                                      style="text-align: center; margin-top: 20px;">
                                      <button type="button"
                                          class="sec-btn main-btn primary-btn"
                                          onclick="searchAccountForForgotPass()" style="width:100%">Search</button>
                                  </div>

                                  <div id="find-account-msg" class="mt-3 text-center">
                                      <span id="find-account-error"
                                          style="color: red; display: none;">Account not
                                          found.</span>
                                  </div>
                              </form>
                          </div>
                      </div>
                  </div>
              </div>
              </div>

              <!-- password success  -->
              <div class="modal menu-popup exam-quiz-modal modal-common fade" id="forgotPassSuccess1" data-bs-keyboard="false"
              data-bs-backdrop="static" tabindex="-1" aria-labelledby="examSuccessLabel" aria-modal="true" role="dialog">
              <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content modal-popup-shadow">
                      <div class="modal-header">
                          <button type="button" class="btn-close js_modal_close align-self-start mt-0" aria-label="Close"
                              onclick="$('#forgotPassSuccess1').modal('hide')"></button>
                      </div>
                      <div class="modal-body">
                          <div class="inner-modal-box">
                              <div class="image-box">
                                  <img src="https://origin-cdnh.policyboss.com/website/UI22/images/icons/exam-sucsees-icon.svg"
                                      alt="Exam Success">
                              </div>
                              <h1 class="title-text font-24">Password Changed Successfully</h1>

                              <button type="button" class="main-btn btn-icon font-18" id="download-certificate"
                                  onclick="$('#forgotPassSuccess1').modal('hide')">
                                  Ok
                              </button>
                          </div>
                      </div>
                  </div>
              </div>
              </div>

              <!-- pass fail -->
              <div class="modal menu-popup exam-quiz-modal modal-common fade" id="passwordFail" data-bs-keyboard="false" data-bs-backdrop="static" tabindex="-1" aria-labelledby="passwordFailLabel" aria-modal="true" role="dialog">
                  <div class="modal-dialog modal-dialog-centered">
                      <div class="modal-content modal-popup-shadow">
                          <div class="modal-body">
                              <div class="inner-modal-box">
                                  <div class="image-box">
                                      <img src="https://origin-cdnh.policyboss.com/website/UI22/images/icons/exam-failed-icon.svg" alt="Exam Success">
                                  </div>
                                  <h1 class="title-text font-24 password-failed-msg"> Failed! To Update Password</h1>
                                  <button class="main-btn font-18" onclick="$('#passwordFail').modal('hide')">Ok</button>
                              </div>
                          </div>
                      </div>
                  </div>
                  </div>   
            <!---------------------------------------- Footer Section ------------------------------------------>
            <footer class="footer-section bg-dark-blue section-padding">
                <div class="container">
                    <div class="footer-links" style="display:none;">
                        <div class="row">
                            <div class="col-md-3 col-sm-6">
                                <div class="footer-link-box js_accordion">
                                    <h4 class="font-18 footer-link-heading">Insurance Products</h4>
                                    <ul class="mob-accordion-box">
                                        <li>
                                            <a href="" class="font-16">Car Insurance</a>
                                        </li>
                                        <li>
                                            <a href="" class="font-16">Bike Insurance</a>
                                        </li>
                                        <li>
                                            <a href="" class="font-16">Commercial Vehicle Insurance</a>
                                        </li>
                                        <li>
                                            <a href="" class="font-16">Health Insurance</a>
                                        </li>
                                        <li>
                                            <a href="" class="font-16">Travel Insurance</a>
                                        </li>
                                        <li>
                                            <a href="" class="font-16">Term Insurance</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="footer-link-box js_accordion">
                                    <h4 class="font-18 footer-link-heading">About PolicyBoss</h4>
                                    <ul>
                                        <li>
                                            <a href="about.html" class="font-16">About Us</a>
                                        </li>
                                        <li>
                                            <a href="" class="font-16">Management Team</a>
                                        </li>
                                        <li>
                                            <a href="" class="font-16">Legal & Policies</a>
                                        </li>
                                        <li>
                                            <a href="contact-us.html" class="font-16">Contact Us</a>
                                        </li>
                                        <li>
                                            <a href="" class="font-16">PR & Media</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="footer-link-box js_accordion">
                                    <h4 class="font-18 footer-link-heading">Help & Support</h4>
                                    <ul>
                                        <li>
                                            <a href="" class="font-16">Claim Assistance</a>
                                        </li>
                                        <li>
                                            <a href="claims-center.html" class="font-16">Claim Centers</a>
                                        </li>
                                        <li>
                                            <a href="" class="font-16">Feedback / Complaint</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="footer-link-box js_accordion">
                                    <h4 class="font-18 footer-link-heading">Knowledge Center</h4>
                                    <ul>
                                        <li>
                                            <a href="blogs-and-videos.html" class="font-16">Blogs & Videos</a>
                                        </li>
                                        <li>
                                            <a href="" class="font-16">Advertisements</a>
                                        </li>
                                        <li>
                                            <a href="" class="font-16">Advisories</a>
                                        </li>
                                        <li>
                                            <a href="" class="font-16">Downloads</a>
                                        </li>
                                        <li>
                                            <a href="" class="font-16">Site Map</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="footer-social-links">
                        <div class="socials-box">
                            <ul>
                                <li>
                                    <a href="https://www.facebook.com/policyboss" target="_blank">
                                        <img src="https://www.policyboss.com/EduApp/images/icons/facebook.png" alt="Facebook" />
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.youtube.com/user/policyboss" target="_blank">
                                        <img src="https://www.policyboss.com/EduApp/images/icons/youtube.png" alt="Youtube" />
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.linkedin.com/company/policyboss/" target="_blank">
                                        <img src="https://www.policyboss.com/EduApp/images/icons/linkedIn.png" alt="LinkedIn" />
                                    </a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/Policyboss" target="_blank">
                                        <img src="https://www.policyboss.com/EduApp/images/icons/twitter.png" alt="Twitter" />
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/policyboss/" target="_blank">
                                        <img src="https://www.policyboss.com/EduApp/images/icons/instagram.png" alt="Instagram" />
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer-other-details">
                        <div class="box">
                            <h5 class="heading-text font-16">Registered By</h5>
                            <a href="" title="IRDA" class="icon-box">
                                <img src="https://www.policyboss.com/EduApp/images/icons/irda-logo.png" alt="IRDA" />
                            </a>
                        </div>
                        <div class="payment-box">
                            <h5 class="heading-text font-16">Payment By</h5>
                            <ul>
                                <li>
                                    <a href="" title="Master Card">
                                        <div class="icon-box">
                                            <img class="master-card" src="https://www.policyboss.com/EduApp/images/icons/master-card.png" alt="Master card" />
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="" title="Visa Card">
                                        <div class="icon-box">
                                            <img class="visa-card" src="https://www.policyboss.com/EduApp/images/icons/visa-icon.png" alt="Visa card" />
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="" title="Maestro Card">
                                        <div class="icon-box">
                                            <img class="maestro-card" src="https://www.policyboss.com/EduApp/images/icons/maestro-icon.png" alt="Maestro card" />
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="" title="Rupay Card">
                                        <div class="icon-box">
                                            <img class="rupay-card" src="https://www.policyboss.com/EduApp/images/icons/rupay-icon.png" alt="Rupay card" />
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="our-security">
                            <h5 class="heading-text font-16">Secured By</h5>
                            <ul>
                                <li>
                                    <a href="" class="box">
                                        <div class="icon-box">
                                            <img src="https://www.policyboss.com/EduApp/images/icons/macafee.png" alt="Macafee" />
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="" class="box bg-blue">
                                        <div class="icon-box">
                                            <img class="lock-icon" src="https://www.policyboss.com/EduApp/images/icons/logo-secure-blue.png" alt="Secure" />
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="" class="box bg-green">
                                        <div class="icon-box">
                                            <img class="lock-icon" src="https://www.policyboss.com/EduApp/images/icons/logo-secure-green.png" alt="Secure" />
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <p class="read-instruction-text text-uppercase">FOR MORE DETAILS ON RISK FACTORS, TERMS AND CONDITIONS PLEASE READ SALES BROCHURE CAREFULLY BEFORE PURCHASING THE INSURANCE POLICY/CONCLUDING A SALE.</p>
                        <div class="our-branch-section">
                            <h5 class="heading-text font-16 text-white">Branch Offices:</h5>
                            <ul class="branch-title-row">
                                <li>Ahmedabad</li>
                                <li>Aurangabad</li>
                                <li>Bangalore</li>
                                <li>Bhopal</li>
                                <li>Chandigarh</li>
                                <li>Chennai</li>
                                <li>Cochin</li>
                                <li>Goa</li>
                                <li>Hyderabad</li>
                                <li>Indore</li>
                                <li>Jaipur</li>
                                <li>Kolkata</li>
                                <li>Lucknow</li>
                                <li>Ludhiana</li>
                                <li>Mumbai</li>
                                <li>Mumbai-Dombivili</li>
                                <li>Nagpur</li>
                                <li>Nashik</li>
                                <li>New Delhi</li>
                                <li>Pune</li>
                                <li>Raipur</li>
                                <li>Rajkot</li>
                                <li>Surat</li>
                                <li>Thane</li>
                                <li>Thiruvananthapuram</li>
                                <li>Vadodara</li>
                            </ul>
                        </div>
                        <p class="text-white detail">LANDMARK INSURANCE BROKERS PRIVATE LIMITED </br> CIN U66030PN2002PTC017009</p>
                        <p class="detail-description">IRDAI CoR No: 216 | Broker Code: DB 089/03 | Valid From 13/10/2018 till 12/10/2021 (originally licensed on 13/10/2003 and renewed thereafter) | Category: Direct (Life & General) | A member of IBAI</p>
                        <p class="address">Regd. Off: 1187/22, 4th Floor (above ICICI Bank ATM), Venkatesh Meher, Ghole Road, Shivaji Nagar, Pune (Maharashtra) - 411005.</p>
                        <div class="link-box">
                            <a href="www.policyboss.com" title="www.policyboss.com" target="_blank">Website: www.policyboss.com</a>
                            <a href="tel:1800-419-419-9" title="call:1800-419-419-9">Toll Free: 1800-419-419-9*</a>
                        </div>
                        <p class="info-text">* Working hours: 9:30 a.m. to 6:30 p.m. (Monday to Saturday)</p>
                        <p class="copyright-text">Copyright &#169; 2021 PolicyBoss. All rights reserved.</p>
                    </div>
                </div>
            </footer>

            <script src="https://www.policyboss.com/EduApp/js/jquery-3.6.0.min.js"></script>
            <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/smartwizard@5/dist/js/jquery.smartWizard.min.js" type="text/javascript"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-timepicker/0.5.2/js/bootstrap-timepicker.min.js" integrity="sha512-2xXe2z/uA+2SyT/sTSt9Uq4jDKsT0lV4evd3eoE/oxKih8DSAsOF6LUb+ncafMJPAimWAXdu9W+yMXGrCVOzQA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" integrity="sha512-T/tUfKSV1bihCnd+MxKD0Hm1uBBroVYBOYSk1knyvQ9VyZJpc/ALb4P0r6ubwVPSGB2GvjeoMAJJImBG12TiaQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.14.0-beta3/js/bootstrap-select.min.js" integrity="sha512-yrOmjPdp8qH8hgLfWpSFhC/+R9Cj9USL8uJxYIveJZGAiedxyIxwNw4RsLDlcjNlIRR4kkHaDHSmNHAkxFTmgg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
            <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
            <script src="https://origin-cdnh.policyboss.com/website/UI22/js/validate_init.js"></script>
            <!-- <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script> -->
            <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
            <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
            <script src="https://origin-cdnh.policyboss.com/website/UI22/js/vehicle-insurance-popup-flow.js"></script>
            <script src="https://origin-cdnh.policyboss.com/website/UI22/js/custom.js"></script>
            <script src="https://origin-cdnh.policyboss.com/website/UI22/js/handle_Url.js"></script>
			<!-- <script src="https://origin-cdnh.policyboss.com/website/UI22/js/website_custom.js?v=200120251000"></script>     -->
            <script src="http://localhost:7000/js/pages/master/website_custom.js"></script>
            <script type="text/javascript">
                                            $('.modal').on('shown.bs.modal', function (e) {
                                                $('.product-slider-small').slick('setPosition');
                                                $('.product-slider').slick('setPosition');
                                                if ($(window).width() < 575) {
                                                    setTimeout(function () {
                                                        $('.features-slider').addClass('visible');
                                                    }, 200);
                                                    $('.features-slider').slick('setPosition');
                                                }
                                                $('.product-slider-area').addClass('open');
                                            });

                                            function setPlaceholderColour() {
                                                $('.common-dropdown').css('color', '#222')
                                            }

                                            function openSelectCarModal(displayType) {

                                                $('#triggerSelectCarDetails').trigger('click');
                                                $('.SelectCarDetail-modal').hide();
                                                if (displayType == 'hidden') {
                                                    $('.WithoutCarNumber-modal').hide();
                                                    $('.NewCar-modal').show();
                                                    $('.after-submit-modal').hide();
                                                }
                                                if (displayType == 'not_hidden') {
                                                    $('.NewCar-modal').hide();
                                                    $('.WithoutCarNumber-modal').show();
                                                    $('.after-submit-modal').hide();
                                                }
                                                if (displayType == 'ibuddy') {
                                                    $('.NewCar-modal').hide();
                                                    $('.WithoutCarNumber-modal').hide();
                                                    $('.after-submit-modal').show();
                                                }
                                            }

                                            function showSelectCarDetails(modal) {
                                                $('.' + modal).hide();
                                                if (modal == 'WithoutCarNumber-modal') {
                                                    $('#card-detail-form').show();
                                                    $('#new-card-detail-form').hide();
                                                    $('#after-submit-card-detail-form').hide();
                                                }
                                                if (modal == 'NewCar-modal') {
                                                    $('#new-card-detail-form').show();
                                                    $('#card-detail-form').hide();
                                                    $('#after-submit-card-detail-form').hide();
                                                }
                                                if (modal == 'after-submit-modal') {
                                                    console.log('ibuddy clicked');
                                                    // $('#my_iBuddy').hide()
                                                    // $('.WithoutCarNumber-modal').hide();
                                                    // $('.NewCar-modal').hide()
                                                    $('#card-detail-form').hide();
                                                    $('#new-card-detail-form').hide();
                                                    $('#after-submit-card-detail-form').show();
                                                }
                                                $('.SelectCarDetail-modal').find('.nav-tabs').each(function () {
                                                    if ($(this).attr('data-for-modal') != modal) {
                                                        $(this).hide();
                                                    } else {
                                                        $(this).show();
                                                    }
                                                })
                                                var tempNavLinkCounter = 0;

                                                $('#selectCarDetails').find('.' + modal + '-nav-tabs').find('.nav-link').each(function () {
                                                    tempNavLinkCounter = tempNavLinkCounter + 1;
                                                    console.log("car temp = " + tempNavLinkCounter);
                                                    if (tempNavLinkCounter == 1) {
                                                        $(this).addClass('active');
                                                    } else {
                                                        $(this).removeClass('active');
                                                    }
                                                })
                                                if (modal == 'WithoutCarNumber-modal') {
                                                    $('#card-detail-form').find('.tab-pane').each(function () {
                                                        $(this).removeClass('active');
                                                    });
                                                    $('#card-detail-form').find('#nav-make').addClass('active');
                                                }
                                                if (modal == 'NewCar-modal') {
                                                    $('#new-card-detail-form').find('.tab-pane').each(function () {
                                                        $(this).removeClass('active');
                                                    });
                                                    $('#new-card-detail-form').find('#nav-make-2').addClass('active');
                                                }
                                                if (modal == 'after-submit-modal') {
                                                    $('#after-submit-card-detail-form').find('.tab-pane').each(function () {
                                                        $(this).removeClass('active');
                                                    });
                                                    $('#after-submit-card-detail-form').find('#nav-make-3').addClass('active');

                                                    var tempValues = $('#after-submit-modal-prefiled-input').val()
                                                    var tempValuesArr = tempValues.split(', ');
                                                    var CarBran = tempValuesArr[0]
                                                    var CarMode = tempValuesArr[1]
                                                    var CarFuelType = tempValuesArr[2]
                                                    var CarVariant = tempValuesArr[3]

                                                    if ($(window).width() > 768) {

                                                        $('#nav-make-tab-3').text(CarBran);
                                                        $('#nav-model-tab-3').text(CarMode);
                                                        $('#nav-fuel-tab-3').text(CarFuelType);
                                                        $('#nav-variant-tab-3').text(CarVariant);

                                                    }

                                                    $('#nav-make-tab-3').addClass('visited');
                                                    $('#nav-model-tab-3').addClass('visited');
                                                    $('#nav-fuel-tab-3').addClass('visited');
                                                    $('#nav-variant-tab-3').addClass('visited');

                                                    $('#nav-make-3').find('.select-brand-listing-col').each(function () {
                                                        var tempInpVal = $(this).find('.form-check-input').attr('data-value')
                                                        if (tempInpVal == CarBran) {
                                                            $(this).find('.form-check-input').prop('checked', true);
                                                        }
                                                    })
                                                    $('#nav-model-3').find('.select-model-listing-col').each(function () {
                                                        var tempInpVal = $(this).find('.form-check-input').attr('data-value')
                                                        if (tempInpVal == CarMode) {
                                                            $(this).find('.form-check-input').prop('checked', true);
                                                        }
                                                    })
                                                    $('#nav-fuel-3').find('.select-fuel-listing-col').each(function () {
                                                        var tempInpVal = $(this).find('.form-check-input').attr('data-value')
                                                        if (tempInpVal == CarFuelType) {
                                                            $(this).find('.form-check-input').prop('checked', true);
                                                        }
                                                    })
                                                    $('#nav-variant-3').find('.select-variant-listing-col').each(function () {
                                                        var tempInpVal = $(this).find('.form-check-input').attr('data-value')
                                                        if (tempInpVal == CarVariant) {
                                                            $(this).find('.form-check-input').prop('checked', true);
                                                        }
                                                    })
                                                }

                                                $('.SelectCarDetail-modal').show("slide", {direction: "right"}, 500);
                                                $('#selectCarModalBackBtn').attr('data-modal-name', modal);
                                                // $('#nav-make-tab-3').removeClass('active');
                                                // $('#nav-make-3').removeClass('active');
                                            }

                                            function openPrevSelectCarModal() {
                                                $('.SelectCarDetail-modal').hide();
                                                var modalName = $('#selectCarModalBackBtn').attr('data-modal-name');
                                                $('.' + modalName).show("slide", {direction: "left"}, 500);
                                            }
            </script>

            <script>
                var tempGlobalModal = '';
                var myTimeout;
                var input = document.getElementById("mobile_email");
                var otp_input = document.getElementById("input_otp_d4");
                $(document).ready(function () {
                   $('#opt-password-login').show();
                    $('.language-dropdown-select').select2();
                    $('.selectpicker').selectpicker();
                    //Datepicker
                    $('.common-datepicker').datepicker({
                        format: "dd-M-yyyy",
                        viewMode: 'years',
                        changeMonth: false,
                        changeYear: false,
                        maxViewMode: 0,
                        startDate: new Date(),
                        endDate: '+7d'
                    });
                    $('.dob-datepicker').datepicker({
                        format: "dd-M-yyyy",
                    });
                    $('.future-date').datepicker({
                        format: "dd-M-yyyy",
                        viewMode: 'years',
                        changeMonth: false,
                        changeYear: false,
                        maxViewMode: 0,
                        startDate: new Date(),
                    });
                    $('.common-timepicker').timepicker({
                        icons:
                                {
                                    up: 'fa fa-angle-up',
                                    down: 'fa fa-angle-down'
                                },
                        format: 'LT',
                        defaultTime: ''
                    });

                    
                    $('#doItYourselfBtn').click(function (e) {
                        $('#triggerDoItYourselfModal').trigger('click');
                        reiniliatizeSlickOfModal('#doItYourself');
                    })
                    var noRecordFoundModalOpened = false;
                    var staticBackdropModalOpened = false;
                    var doItYourselfModalOpened = false;


                    function reiniliatizeSlickOfModal(modal) {
                        tempGlobalModal = modal;
                        var check;
                        if (modal === '#verifyAccountModal') {
                            $("#verifyAccountModal").modal('show');
                            $('#otp_err').text('');
                            $('#otp_resend_msg').text('');
                            $('#mob').text($('#mobile').val());
                            $('#input_otp_d1').val('');
                            $('#input_otp_d2').val('');
                            $('#input_otp_d3').val('');
                            $('#input_otp_d4').val('');

                        } else if (modal === '#errorModal') {
                            $("#errorModal").modal('show');
                        } else if (modal === '#doItYourself') {
                            check = doItYourselfModalOpened;
                            doItYourselfModalOpened = true;
                        }
                        if (!check) {
                            if ($(window).width() < 768) {
                               
                            }
                        }
                    }

//                    input.addEventListener("keypress", function (event) {
//                        if (event.key === "Enter") {
//                            event.preventDefault();
//                            document.getElementById("login_btn").click();
//                        }
//                    });

                    otp_input.addEventListener("keypress", function (event) {
                        if (event.key === "Enter") {
                            event.preventDefault();
                            document.getElementById("verify_otp_btn").click();
                        }
                    });
                    $('#editMobile').click(function (e) {
                        clearTimeout(myTimeout);
                        console.log("timeout called");
                    });
				/*function GetUrl() {
					var url = window.location.href;
					var newurl;
					//newurl = "http://localhost:3000";
					if (url.includes("request_file")) {
						newurl = "http://localhost:3000";
					} else if (url.includes("qa-")) {
						newurl = url.includes('https') ? "https://qa-horizon.policyboss.com:3443" : "http://qa-horizon.policyboss.com:3000";
					} else if (url.includes("www.") || url.includes("cloudfront") || url.includes("origin-cdnh") || url.includes("policyboss")) {
						newurl = url.includes('https') ? "https://horizon.policyboss.com:5443" : "http://horizon.policyboss.com:5000";
					}
					newurl = "http://localhost:3000";
					return newurl;
				}*/
				/*$('#otpParameter').prop('placeholder', "Enter Username");
						$('.otpParameterErr').text('');
						$('#password').val("").show();
						$("#login_btn").text("Submit");
						$("#login_btn").attr("onclick",'loginViaPassword()');*/
						
				$("input[name='login']").on("change", function () {
					let selected_tab = this.value;
					$(".otpParameterErr,.user-login-error,#password-error").text("");
					$("#otpParameter").removeClass("has-error");
					if (selected_tab === "otp_login") {
						//$('#otpParameter').prop('maxlength', 10);
						$('#otpParameter').prop('placeholder', "Enter Mobile / Email / UID");
						$('#password').val("").hide();
						$("#login_btn").text("Send OTP");
						$("#login_btn").attr("onclick",'submitOtpParameter()');
					}
					if (selected_tab === "password_login") {
						//$('#otpParameter').prop('maxlength', 50);
						$('#otpParameter').prop('placeholder', "Enter Username");
						$('.otpParameterErr').text('');
						$('#password').val("").show();
						$("#login_btn").text("Submit");
						$("#login_btn").attr("onclick",'loginViaPassword()');
					}
				});
				
				});
				
				function dismissModal() {
					$('#Message-modal').modal('hide');
					clearTimeout(myTimeout);
                    otp_source = "LOGIN-OTP"
				}
				function loginViaPassword() {
                let ref_login = window.location.href.includes('ref_login=') && (window.location.href.split('ref_login=')[1]) || '/';
                let err = 0;
                $("#username-error, #password-error").hide();
                if ($("#otpParameter").val() === "" || $("#otpParameter").val() === null || $("#otpParameter").val() === undefined) {
                    err++;
                    $("#username-error").text("This field is required.").show();
                }
                if ($("#password").val() === "" || $("#password").val() === null || $("#password").val() === undefined) {
                    err++;
                    $("#password-error").text("This field is required.").show();
                }
                if (err === 0) {
                    $('.loading').show();
                    //$("#login_btn").text("LOADING...").prop("style", "background-color:#9E9E9E !important").prop("disabled", true);
                    let username_password_Obj = {
                        "username": $("#otpParameter").val() || "",
                        "password": $("#password").val() || ""
                    };
                    $.ajax({
                        url: "http://localhost:3000" + "/postservicecall/auth_tokens/auth_login",
                        type: "POST",
                        data: username_password_Obj,
                        dataType: "json",
                        success: function (auth_login_response) {
                            if (auth_login_response && auth_login_response.Status && auth_login_response.Status === "SUCCESS") {
                                let username_password_Obj = {
                                    "login_ss_id": auth_login_response.Data && auth_login_response.Data.SS_ID || "",
                                    "ref_login": ref_login,
                                    "user_agent": navigator.userAgent,
                                    "login_type": "LOGIN-PASSWORD"
                                };
                                $.ajax({
                                    url: window.location.origin + "/login-in-user",
                                    type: "POST",
                                    data: username_password_Obj,
                                    dataType: "json",
                                    success: function (login_data) {
                                        if (login_data && login_data.status && login_data.status === "SUCCESS") {
                                            if (login_data.email_id && login_data.is_posp_login === "yes") {
                                                try {
                                                    webengage.user.login(login_data.email_id);
                                                    if (login_data.user_details) {
                                                        webengage.user.setAttribute('we_first_name', (login_data.user_details.first_name || ""));
                                                        webengage.user.setAttribute('we_last_name', (login_data.user_details.last_name || ""));
                                                        webengage.user.setAttribute('we_phone', (('91' + login_data.user_details.mobile_no) || ""));
                                                        webengage.user.setAttribute('we_email', (login_data.user_details.email_id || ""));
                                                        webengage.user.setAttribute('we_whatsapp_opt_in', true);
                                                    }
                                                } catch (e) {
                                                    console.log(e.stack);
                                                }
                                            }
                                            window.location.href = login_data.ref_login || ref_login;
                                        } else {
                                            $('.loading').hide();
                                            $("#otpParameter, #password, #ref_login").val("");
                                            if (login_data && login_data.status) {
                                                $("#password-error").text(login_data.status).show();
                                            } else {
                                                $("#password-error").text("NO RECORD FOUND").show();
                                            }
                                            $("#login_btn").text("Submit");
                                        }
                                    },
                                    error: function (e) {
                                        $('.loading').hide();
                                        $("#otpParameter, #password, #ref_login").val("");
                                        $("#password-error").text("USER ID NOT FOUND").show();
                                        $("#login_btn").text("Submit");
                                    }
                                });
                            } else {
                                $('.loading').hide();
                                $("#otpParameter, #password, #ref_login").val("");
                                $("#password-error").text("INVALID USER").show();
                                $("#login_btn").text("Submit");
                            }
                        },
                        error: function (e) {
                            $('.loading').hide();
                            $("#otpParameter, #password, #ref_login").val("");
                            $("#password-error").text("INVALID USER").show();
                            $("#login_btn").text("Submit");
                        }
                    });
                }

            }
            </script>
            <script>
                $(".custom-input-vehicle-dropdown .vehicle-list-row li").click(function () {

                    var html = $(this).html()

                    $(this).closest('.custom-input-vehicle-dropdown').find('.vehicle-type-list').html(html)
                    $(this).closest('.custom-input-vehicle-dropdown').find('.select-dropdown-box').removeClass('show');
                });
            </script>
            <script>
                $(".custom-input-vehicle-dropdown .vehicle-type-list").click(function () {
                    $(this).closest('.custom-input-vehicle-dropdown').find('.select-dropdown-box').addClass('show');
                    $(this).closest('.custom-input-vehicle-dropdown').removeClass('shadow-none');
                });
            </script>
			
			<script>
				document.querySelectorAll('.input-otp').forEach(function(input) {
					input.addEventListener('paste', function(event) {
						var clipboardData, pastedData;
						event.stopPropagation();
						event.preventDefault();
						
						clipboardData = event.clipboardData || window.clipboardData;
						pastedData = clipboardData.getData('text');

						// Distribute pasted content to input fields
						var inputs = document.querySelectorAll('.input-otp');
						for (var i = 0; i < inputs.length; i++) {
							inputs[i].value = pastedData[i] || '';
							$('.input-otp').get(i).focus();
						}
					});
				});
		</script>

		<script>
			const inputField = document.getElementById('input_otp_d1');
				inputField.addEventListener('input', function(event) {
					console.log('Input field value changed:', event.target.value);
					let otpCode = event.target.value;
					if (otpCode.length === 4) {
						let value = otpCode.split("");
						var inputs = document.querySelectorAll('.input-otp');
						for (var i = 0; i < inputs.length; i++) {
							inputs[i].value = value[i] || '';
							$('.input-otp').get(i).focus();
						}
						verifyOtp();
					}else { // modified part
						if (otpCode.length > 1){
							$("#input_otp_d1").val(otpCode.split("")[0]);
						}
					}
			  });
		</script>
        <script>
            let session_id = '';
            let user_details = "";
            function handleLogin(){
                session_id = getCookie("pre_session_id");
                $('.continue_login,.login-form,.login-area').hide();
                $('#continue_btn,#continue-error').text('');
                if(session_id){
                    $.ajax({
                        type: "GET",
                        url : GetUrl() + "/logins/get_session_details?session_id=" + session_id,
                        success: function(response){
                            if(response.Status === "SUCCESS" && response.User_Name){
                                user_details = response.user_detail;
                                $('.login-area,.continue_login').show();
                                $('#continue_btn').text('Continue As ' + response.User_Name);
                            }else{
                                $('.login-area,.login-form').show();
                            }
                        },
                        error: function(xhr, status, error) {
                            $('#continue-error').text("Something went wrong. Please try again.");
                        }
                    })
                }else{
                    $('.login-area,.login-form').show();
                }
            }
            function redirect_login(){
                $('.continue_login , .login-form').hide();
                $('.login-area,.login-form').show();
            }
            function continue_user(){
                let ref_login = window.location.href.includes('ref_login=') && (window.location.href.split('ref_login=')[1]) || '/';
                $('#continue-error').text("");
                let login_Obj = {
                    "login_ss_id": user_details.agent_id,
                    "ref_login": ref_login,
                    "login_type":"LOGIN-OTP"
                };
                $.ajax({
                    type : "POST",
                    url : window.location.origin +  "/login-in-user",
                    data : JSON.stringify(login_Obj),
                    contentType: "application/json",
                    success : function(res){
                        if (res && res.status && res.status === "SUCCESS") {
                            deleteCookie('pre_session_id');
                            deleteCookie('pre_session_name');
                            window.location.href = res.ref_login || window.location.href;
                        } else{
                            if (res && res.status) {
                                $('#continue-error').text(res.status);
                            } else {
                                window.location.reload();
                            }
                        }
                    },error : function(err){
                        $('#continue-error').text("User Not Found");
                    }
                });
            }
            </script>
        </div>

    </body>

</html>
